* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(47, 44, 44);
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
    text-align: center;
}

button {
    width: 100px;
}

.container-body {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}

.container-body-small {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}

.header-section {
    margin-bottom: 30px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.treatment-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;

    max-width: 700px;
    margin: auto;
}

.menu a {
    margin-right: 15px;
    text-decoration: none;
}